/*
 * Space Mono Typeface Import
 */

@font-face {
  font-family: "Space Mono";
  src: url("./space_mono/regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("./space_mono/bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("./space_mono/italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("./space_mono/bold_italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
